<!DOCTYPE html>
<html>
  <head>
    <title>Secretaría de Desarrollo Social de Baja California | SEDESOE</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="manifest" href="/manifest.json">
      <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-orange.min.css" />
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
     <script>
       var OneSignal = window.OneSignal || [];
       OneSignal.push(["init", {
         appId: "7472064f-567e-41b3-8ed6-7d5290c370d4",
         autoRegister: true,
         notifyButton: {
           enable: true /* Set to false to hide */
         }
       }]);
     </script>
  </head>

  <body>

    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    <div class="main">
    <%= yield %>
    </div>
    <section class="section-footer">
    <%= render 'layouts/footer' %>
    </section>
    <!-- <%= debug(params) if Rails.env.development? %> -->
  </body>
</html>
